APPLICATION_STAGE=development
APPLICATION_VERSION=dev
BASE_PORT=8000
BASE_URL=http://127.0.0.1:8000
# when working w/ docker locally use
# DATABASE_HOST=postgres
DATABASE_HOST=0.0.0.0
DATABASE_NAME=core
DATABASE_PORT=5486
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

#substrate
BLOCKCHAIN_URL=

# storage
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_REGION_NAME=