.DS_Store
.vscode
.idea
*.iml
___.py
venv
.venv
.env
.pem
__pycache__
celerybeat-schedule.db
media
settings/local.py
.ipynb_checkpoints/
test-media/*
!test-media/fixtures/
/static/
*.rb
.coverage
coverage-reports
scripts
x.py
x2.py
.envrc
.direnv
.devcontainer/